@charset "UTF-8";

body{
    background:white url(../imagens/fundo-madeira.jpg) center top no-repeat fixed;
    background-size: cover;
}
#iphone{
    display: block;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 39%;
}
.logo{
    display: block;
    border-radius: 50%;
    height: 3%;
    width: 4%;
    position: relative;
    left: 94%;
    padding: 10px;
}
iframe{
    display: block;
    height: 470px;
    width: 267px;
    position: absolute;

    left: 41%;
    top: 28%;
}